/* body {
   background-image: url('../images/ep_naturalblack.png');
} */

/* img {
   width: 350px;
   height: 350px;
   margin-bottom: 10px;
} */

.uk-overlay {
   width: 25%;
   height: 70px;
   padding: 5px;
   margin-left: 40px;
   font-size: 15px;
}
#icon {
   width: 50px;
   height: 50px;
}

html {
    background-color: black
}

#unsplash {
    display: none
}

#pixabay {
    display: none
}

/* #locations {
display: none
} */

#modalBody {
    background-color: azure;
}

#submit {
      background-color: gainsboro;
    color: black;
}
