html {
    background-color: black
}

/* #pixabay1 {
    display: none
}

#pixabay2 {
    display: none
}

#locations {
    display: none
} */

#modalBody {
    background-color: azure;
}

#submit {
    background-color: gainsboro;
    color: black;
}
